package ${package.Service};

import ${package.Entity}.${entity};
import ${superServiceClassPackage};
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.xh.marketplatform.common.entity.PageDto;

/**
 * @author ${author}
 * @since ${date}
 * @version ${version}
 */
#if(${kotlin})
interface ${table.serviceName} : ${superServiceClass}<${entity}>
#else
public interface ${table.serviceName} extends ${superServiceClass}<${entity}> {

        IPage<${entity}> list(PageDto<${entity}> pageDto);
}
#end
